
*.osm

*.epw
*.exe
measure.xml
OSM_2.6.2/
Final/
Models/
resources/
OSW_test/
OccSimulator_out/
development/NREL_test/output/baseline_SchFile_test.osm
development/NREL_test/output/baseline_SchFile_test.osm
